.cor{}

td, th{border: solid white;border-style: double;}
.letra{ color:cyan}
html{background-color:black;}
.titulo{color:white;}
span{
    color:gold;
}

.fundo{color: aliceblue;}

.links{color: gold;}




